/* Generic Styles */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: monospace;
  background-color: #DDD6FE;
}

h3 {
  font-family: Helvetica;
}

.wrapper {
  padding: 0.6rem 3rem;
  color: #333;
}

.menu {
  background-color: white;
  padding: 0.5rem 0;
  border-radius: 2rem;
}

.menu a {
  background-color: #EFF6FF;
  margin: 0 0.5rem;
  padding: 0.6rem 1.5rem;
  border-radius: 2rem;
  color: black;
  text-decoration: none;
  font-size: 0.9rem;
}

.menu a.active {
  background-color: #3B82F6;
  color: white;
}

/* Generic Styles End */

.menu {
  display: flex;
}

.menu-start {
  justify-content: start;
  /* Default */
}

.menu-end {
  justify-content: end;
}

.menu-center {
  justify-content: center;
}

.menu-between {
  justify-content: space-between;
}

.menu-around {
  justify-content: space-around;
}

.menu-evenly {
  justify-content: space-evenly;
}
